#root:has(.farmington-first-page) {
    padding-top: 0;

    nav {
        color: var(--dark-TEXT);
    }
}

.farmington-first-page {
    padding-bottom: var(--navbar-height);
    .header-photo{
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }

    .page-header {
        height: 60vh;

        .page-header-title {
            padding: 0;
        }

        .page-header-foreground-container {
            position: absolute;
            bottom: 2em;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            gap: .5em;
            max-width: 80vw;

            .page-content-outline-container {
                padding-top: 1em;
            }
        }
    }

    #expo-content {
        display: flex;
        flex-wrap: wrap;
        padding: 0 10vw 0vh 10vw;

        #placeholder1 {
            flex: 1;
            display: flex;
            border-color: var(--image-border);
            border-width: 2px;
            padding: 2vh;
            max-width: 50vw;
            margin: 2vh 2.5vw 2vh 2.5vw;
            border-radius: 25px;
        }

        #expo-desc {
            display: flex;
            border-width: 2px;
            border-color: black;
            flex: 1;
            align-self: center;
            margin: 2vh 2.5vw 2vh 0vw;
            justify-content: center;
        }
    }

}

.fll-team-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 12vw;
}

.ftc-team-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 0 12vw;
}

@media screen and (max-width: 1390px) {

    .ftc-team-list,
    .fll-team-list {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 12vw;
    }

}

@media screen and (max-width: 700px) {
    .farmington-first-page .page-header {}

    .ftc-team-list,
    .fll-team-list {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 12vw;
    }

}