@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");





@font-face {
  font-family: "stencilstd";
  src: url("../src/assets/fonts/StencilStd.otf");
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2.5px #ffd000;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px #ffd000;
  }

  .text-shadow {
    text-shadow: 3px 3px 3px #ffd000, 3px 4px 5px black;
  }
}

@media only screen and (max-width: 600px) {
  body .raffle-page {
    justify-content: center;
    align-items: center;
    align-content: center;

  }

  body .box {
    margin-bottom: 2.5vh;
    margin-left: auto;
    margin-right: auto;
  }

  body #raffle-header {
    margin-top: -10vh;
  }

  body #progress-border,
  #progress {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  body .percentage-stat {
    font-size: 1rem;
  }

  body .raffle-button {
    display: flex;
    margin-left: 10vw !important;
    font-size: 1.5rem !important;
    width: 60vw !important;

  }

}

#progress,
#progress-border {
  border-radius: 9rem;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;

}

#raffle-page {
  padding-bottom: 3rem;


  .page-header {
    height: 75vh;
    position: relative;

    img {
      object-position: 30% 70%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .prizes-header {
      width: 100vw;
      display: flex;

      margin: 0;
      padding: 0;

      padding: var(--navbar-height) 10vw 0 10vw;


      flex-direction: column;
      justify-content: center;
      gap: 0;

      img {
        display: flex;
        width: 15vw;
        height: fit-content;
        z-index: 9;
        transform: rotate(-22.5deg);
      }

      .alt-prize {
        transform: rotate(22.5deg);
        margin-left: auto;
      }

    }

    .raffle-countdown {
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      width: 80vw;
      z-index: 1;




    }

    .page-header-foreground-container {
      position: absolute;
      bottom: 2em;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      gap: .5em;
      max-width: 80vw;

      .page-content-outline-container {
        padding-top: 1em;
      }
    }
  }



  #raffle-header {
    padding-top: var(--navbar-height);
    padding: var(--navbar-height) 10vw var(--navbar-height) 10vw;


    #raffle-title {
      font-weight: 700;
      text-shadow: black;
      color: calc(var(--blue-1) + 2rem);
      font-size: 2.5rem;
      text-align: center;
    }

    .raffle-subtitle {
      font-weight: 400;
      color: var(--main-text);
      font-size: 1.5rem;
      text-align: center;
      text-shadow: black;
    }

  }


  /* Adds the gradient to the progress bar */
  .progress {
    // background: #1a245b;
    background: linear-gradient(90deg,
        rgba(76, 92, 179, 1) 0%,
        rgba(78, 94, 185, 1) 50%,
        rgba(26, 36, 91, 1) 100%);
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: repeating-linear-gradient(135deg,
          /* Creates a slant */
          transparent 0,
          transparent 10px,
          #1d2863 10px,
          #1d2863 20px);
      opacity: 0.5;
      /* Slight transparency */
      pointer-events: none;
      /* Keeps it from blocking interactions */
      z-index: 1;
    }
  }

  // .progress::before {
  //   background-image: repeating-linear-gradient(135deg, transparent 0, transparent 10px, #1d2863 10px, #1d2863 20px);
  // }

  .raffle-button {
    width: 50vw;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 15vw;
  }

  .stats {
    font-weight: bold;
    font-size: 2rem;
  }
}

#root:has(#raffle-page) {
  padding-top: 0;

  nav {
    background-color: var(--navbar-background);
    color: var(--dark-TEXT);
  }

  nav.navbar-mobile #topbar {
    backdrop-filter: blur(5px);
  }

  nav:not(.navbar-mobile) {
    backdrop-filter: blur(5px);
  }
}

@media (max-width: 850px) {
  #raffle-page {

    .page-header {
      height: 90vh;
    }

    .page-header-title {
      font-size: 2.5rem !important;
    }
  }
}

//