.photo-gallery {
    display: grid;
    gap: 1rem;
    margin: 2rem;
    grid-template-columns: repeat(var(--numColumns), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
}

.photo-container {
    flex: 1;
    display: flex;
}

.photo-item {
    border-radius: 6px;
    overflow: clip;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .photo-title {
        position: absolute;
        padding: 1rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: .9em;
        font-weight: 400;
        color: var(--dark-TEXT);
        background: linear-gradient(
            10deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.55) 20%,
            rgba(0, 0, 0, 0.1) 35%,
            rgba(0, 0, 0, 0) 100%
        );
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

@media screen and (max-width: 850px) {
    .photo-gallery {
        grid-template-columns: repeat(1.5, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
}

@media screen and (max-width: 750px) {
    .photo-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }
}