.hyperlinks-page {
    height: calc(80vh - var(--navbar-height));
    display: flex;
    align-items: center;
    justify-content: center;
}

.hyperlinks-page::before {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0.75;
    background-image: url('../media/placeholder.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hyperlinks-container {
    width: 400px;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--blue-1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.hyperlinks-container .hyperlink-tag:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.hyperlinks-container .hyperlink-tag:first-child {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.hyperlink-tag {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: none;
    padding: 16px;
    line-height: 1;
    color: var(--dark-TEXT);
    text-decoration: none;
    font-size: 1.1rem;
}