.container {
    background-color: rgba(136, 136, 136, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 12px;
    width: 100%;
    box-sizing: border-box;
    padding: .5em 1em;
    margin: auto;
    margin-bottom: 2rem;
    backdrop-filter: blur(var(--FROST_BLUR));
    text-align: center;
    color: var(--dark-TEXT);

    display: flex;
    flex-direction: column;

    .header {
        font-size: 1.5rem;
        margin-bottom: 0.2rem;
    }

    .timer {
        font-size: 3.5rem;
        font-weight: 600;
    }
}
