#about-page {
    padding-bottom: 10vh;

    .page-header {
        img {
            min-height: 50vh;
            max-height: 75vh;
            height: auto;
            object-position: 0 10%;
        }

        .page-header-title {
            position: relative;
            bottom: 1em;
            width: 100%;
            padding: 0;
        }

        .curved-text-container {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 800;
            text-align: center;
            font-size: 9rem;
            position: absolute;
            left: 50%;
            top: 0%;
            transform: translateX(-50%);

            text {
                fill: var(--BLUE_PASSTHROUGH);
            }
        }

        img {
            // height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1400px) {
    #about-page {
        .page-title {
            font-size: 3rem;
        }

        #header-photo {
            border-radius: 0;
            width: 100%;
        }
    }
}

#root:has(#about-page) {
    padding-top: 0;

    nav {
        background-color: var(--navbar-background);
        color: var(--dark-TEXT);
    }

    nav.navbar-mobile #topbar {
        backdrop-filter: blur(5px);
    }

    nav:not(.navbar-mobile) {
        backdrop-filter: blur(5px);
    }
}