.container {
    position: relative;
    overflow: hidden;
    color: var(--dark-TEXT);

    .banner {
        // filter: brightness(33%);
        // max-width: 100vw;
        // width: 100%;
        // height: auto;
        // object-fit: cover;


        filter: brightness(33%);
        max-width: 100vw;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--BLUE_GRADIENT);
    }

    .overlay {
        will-change: transform, opacity;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        width: 100%;
        // transform: translate(-50%, -50%);
        text-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
        padding: 0 12vw;
        filter: blur(0);

        margin: 8rem 0;

        // p {
        //     line-height: 1.75;
        // }

        title {
            font-weight: 400;
            font-size: 1rem;
        }
    }
}
