#root:has(.about-first-page) {
    padding-top: 0;

    nav {
        color: var(--dark-TEXT);
    }
}

.about-first-page {
    padding-bottom: 10vh;

    .page-header {
        height: 60vh;
        position: relative;
        margin-bottom: 3rem;

        .page-header-title{
            padding: 0;
        }

        img {
            object-position: 50% 60%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .page-header-foreground-container {
            position: absolute;
            bottom: 2em;
            left: 50%;
            transform: translateX(-50%);
            // min-width: min-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            gap: 1em;
            max-width: 80vw;
        }
    }

    // .content-container {
    //     display: flex;
    //     width: 100%;
    //     flex-wrap: wrap;
    //     justify-content: center;
    //     padding: 0 12vw;
    //     row-gap: calc(var(--spacing) * 8);
    //     column-gap: calc(var(--spacing) * 18);
    //     margin-top: 3rem;

    //     .content-text {
    //         display: flex;
    //         color: white;
    //         border-radius: 12px;
    //         font-size: 1.5rem;
    //         line-height: var(--tw-leading, var(--text-2xl--line-height));
    //         width: 40%;
    //         flex-grow: 1;
    //         flex-direction: column;
    //         gap: .5rem;
    //         // justify-content: space-between;
    //         font-weight: 200;
    //         padding-top: 2em;

    //         h3 {
    //             font-size: 1.5em;
    //             font-weight: 500;
    //             margin-bottom: 0.2em;
    //         }

    //         .about-button {
    //             margin: 2em 0 0;
    //             width: 100%;
    //         }
    //     }

    //     .content-image {
    //         border-radius: 12px;
    //         box-shadow: inset 0px 0px 18px var(--yellow-1);
    //         object-fit: cover;
    //         width: 20%;
    //         flex-grow: 1;
    //         min-width: 40vw;
    //         position: relative;
    //         border: 2px rgb(179, 179, 179) solid;
    //     }

    //     #first-logo {
    //         background: white;
    //     }
    // }

    // #about-nav {
    //     margin-top: 10vh;
    //     margin-bottom: 10vh;
    // }
}

.first {
    padding: 0 10vw 10vh 10vw;



    .first-content {
        display: flex;
        flex-wrap: wrap;


        .first-photo {
            flex: 1;
            display: flex;
            padding-top: 5vh;
            margin: 2vh 2vw 2vh 5vw;
            max-height: auto;
            background-color: #ffffff;
            max-width: 75vw;
            border-color: var(--image-border);
            border-width: 2px;
            border-radius: 22px;
            padding: 2vh;
        }

        .first-desc {
            font-size: 1.5rem;
            line-height: 1.5;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            border-radius: var(--radius-lg);
            padding: 2rem;
            display: flex;
            margin-top: 2.5vh;
            margin-bottom: 2.5vh;
            margin-right: 5vw;
            flex: 1;
            margin-left: 5vw;
            align-items: center;
        }
    }
}

#fll {
    padding: 0 10vw 10vh 10vw;


    #fll-content {
        display: flex;
        flex-wrap: wrap;


        #fll-photo {
            flex: 1;
            display: flex;
            padding-top: 5vh;
            max-height: 75vh;
            margin: 2vh 2.5vw 2vh 2.5vw;
            max-width: 50vw;
            background-color: #ffffff;
            border-color: var(--image-border);
            border-width: 2px;
            border-radius: 22px;
            padding: 2vh;
        }

        #fll-desc {
            display: flex;
            margin-top: 5vh;
            flex: 1;
            margin: 5vh 2.5vw 5vh 2.5vw;
            align-items: center;

        }
    }
}


#fce {
    padding: 0 10vw 10vh 10vw;


    #fce-content {
        display: flex;
        flex-wrap: wrap;
        padding: 2vh 2vw 2vh 2vw;


        #fce-photo {
            flex: 1;
            display: flex;
            padding-top: 5vh;
            max-height: 25vh;
            border-color: var(--image-border);
            border-width: 2px;
            background-color: #ffffff;
            border-radius: 22px;
            padding: 2vh;

        }

        #fce-desc {
            display: flex;
            flex: 1;
            margin: 2vh 2vw 2vh 2vw;
            align-items: center;
        }
    }
}

.ftc-team-title {
    font-weight: bold;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

.ftc-email {
    color: var(--yellow-1);
    text-decoration: underline;
    margin-bottom: 10vh;
}

@media screen and (max-width: 700px) {
    .about-first-page .page-header{
        height: 50vh;
    }
}