footer {
    background: linear-gradient(light-dark(hsl(30, 18%, 85%), rgb(35, 35, 35)), light-dark(hsl(30, 18%, 60%), rgb(0, 0, 0)));
    padding: 0 max(10%, 48px);
    padding-top: 48px;
    border-top: 4px solid var(--dark-GOLD);
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.25);
    z-index: 9999;

    #footer-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        gap: 48px;
        flex-wrap: wrap;
    }

    #footer-team-info {
        display: flex;
        gap: 12px;
        flex-grow: 0;
        align-items: center;
        height: min-content;
        flex-shrink: 0;
    }

    #footer-team-icon {
        max-height: 92px;
        border-radius: 12px;
        height: 100vh;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        background-color: var(--dark-BACKGROUND);
        border: 4px solid var(--dark-BACKGROUND);
    }

    #footer-team-icon:hover {
        transform: scale(1.015);
        box-shadow: 0 0 24px #FFD00055;
    }

    .glossary {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }

    .glossary a {
        opacity: 0.8;
        line-height: 1.3;
        position: relative;
        transition: 0.15s ease;
    }

    .glossary a:hover {
        transition: 0.15s ease;
        // transform: scale(1.015);
        // text-shadow: 0px 0px 2px white;
        opacity: 1;
    }

    .glossary-section {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 140px;
        gap: 12px;
    }

    .glossary-section a:first-child {
        font-weight: 600;
        font-size: larger;
    }

    #footer-end {
        height: 48px;
        padding-bottom: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #footer-copyright {
        font-weight: 400;
        font-size: .9em;
    }

    .link-icon {
        width: 14px;
        position: absolute;
        top: 50%;
        right: calc(100% + 6px);
        transform: translateY(-50%);
        filter: brightness(0);
    }
}

@media (prefers-color-scheme: dark) {
    footer .link-icon {
       filter: brightness(1); 
    }
}