.primitive-card-container {
    aspect-ratio: 1;
    transition: transform 300ms ease;
    perspective: 40rem;

    .primitive-card-inner {
        width: 100%;
        height: 100%;
        transition: box-shadow 600ms ease, transform 600ms ease;
        transform-style: preserve-3d;
        position: relative;
    }

    .primitive-card-face {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: #eee;
        // border: 1px solid var(--GOLD_GRADIENT_OUTLINE);
        background: var(--GOLD_GRADIENT);
        overflow: clip;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
    }

    .primitive-card-front {
        width: 100%;
        height: 100%;

        .primitive-card-main-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .primitive-card-overlay {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(10deg,
                    rgba(0, 0, 0, 0.8),
                    rgba(0, 0, 0, 0.55) 20%,
                    rgba(0, 0, 0, 0.1) 35%,
                    rgba(0, 0, 0, 0) 100%);
            padding: 7% 10%;
            display: flex;
            gap: 4px;
            flex-direction: column;
            justify-content: flex-end;
            color: var(--dark-TEXT);
            text-shadow: 0 0 8px black;
        }

        .primitive-card-title {
            line-height: 1;
            font-weight: 600;
            display: block;
        }

        .primitive-card-desc {
            font-weight: 400;
            font-size: var(--small-text-size);
            line-height: 1;
            display: block;
        }
    }

    .primitive-card-back {
        transform: rotateY(180deg);
        font-size: 1.2rem;
        text-shadow: 0px 1px 10px black;
        cursor: auto;
        color: var(--dark-TEXT);

        .primitive-card-header {
            width: 100%;
            display: flex;
            background-color: rgba(0, 0, 0, 0.1);
            height: min-content;
            border-bottom: 2px solid var(--yellow-2);
        }

        .primitive-card-info {
            padding: 5%;
            flex-grow: 1;
            box-sizing: border-box;
            width: max-content;
        }

        .primitive-card-title {
            font-weight: 600;
            display: block;
        }

        .primitive-card-desc {
            font-weight: 400;
            font-size: 0.9em;
            display: block;
        }

        .primitive-card-back-image {
            width: 30%;
            aspect-ratio: 1;
            object-fit: cover;
            overflow: clip;
            display: block;
            border-left: 2px solid var(--yellow-2);
            box-sizing: padding-box;
        }

        .primitive-card-text {
            padding: 1em;
            font-size: .7em;
            white-space: pre-wrap;
            word-break: break-word;
        }
    }
}

.primitive-card-container[data-clickable="1"] {
    cursor: pointer;
}

.primitive-card-container.primitive-card-grow:hover {
    transform: scale(1.025);
    transition: 0.15s ease;
}

.primitive-card-container.primitive-card-grow:active {
    transition: 0.1s ease;
    transform: scale(0.975);
}

.primitive-card-container.primitive-card-grow:hover>.primitive-card-face {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.primitive-card-container.primitive-card-flip:hover {
    transform: scale(1.025);
    z-index: 999;
}

.primitive-card-container.primitive-card-flip:hover>.primitive-card-inner {
    transform: rotateY(180deg);
}

.primitive-card-container.primitive-card-flip:hover>.primitive-card-face {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1400px) {
    .primitive-card-container {
        width: 40%;
        margin-bottom: 2vh;
    }

    .primitive-card-title {
        font-size: 1.25rem;

    }

    .primitive-card-desc {
        font-size: 1rem !important;
    }

    .primitive-card-text {
        font-size: 0.92rem !important;
    }

}

@media screen and (max-width: 1300px) {
    .primitive-card-container {
        width: 45%;
    }
}

@media screen and (max-width: 1001px) {
    .primitive-card-container {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .primitive-card-container {
        width: 100%;
    }

    .primitive-card-text {
        font-size: 1rem !important;
    }
}

@media screen and (max-width: 800px) and (max-height: 800px) {
    .primitive-card-text {
        font-size: 0.74rem !important;
    }

    .primitive-card-container.primitive-card-grow:hover {
        transform: none;
        transition: 0.15s ease;
    }

    // .primitive-button {
    //     transition: background-color 0.2s ease, transform 0.2s ease, color 0.2s ease, filter 0.2s ease;

    //     &:hover {
    //         transform: none;
    //         filter: none;
    //     }

    //     &:active {
    //         transform: scale(0.98) rotate(-0.4deg);
    //         filter: brightness(80%);
    //     }
    // }
}
