#not-found-page {
    padding-bottom: 21vh;
    #header{
        text-align: center;
    }

    #notfound {
        padding-top: 21vh;
        font-weight: bold;
        font-size: 100px;
    }

    #notfound-desc {
        font-size: 30px;
        padding-bottom: 21vh;
    }    
}